.serviceList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
}

@media (max-width: 800px) {
    .serviceList {
        padding-left: 20px;
        padding-right: 20px;
        overflow-x: scroll;
    }

    .serviceList::-webkit-scrollbar {
        display: none;
    }
}